.card{
  max-width: 50%;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 35px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;

  &:hover{
    box-shadow: 15px 16px 32px 0 rgba(0,0,0,0.9);
  }
 
}

.itemList{
  display: flex;
  justify-content: flex-end;
}

.item{
  margin: 0px 15px 0px 0px;
}