@import "../styles/variables";


.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.backToHome {
  margin: 3rem 0 0;
}


.logos{
  display: flex;
  justify-content: center;
  width: 100%;
  .svg{
    width: 30px;
    height: 30px;
    margin: 0px 10px 15px 10px;
    color: white;
    :hover path{
      fill: $accent-color-bright;
    }
  }
  
}


