@import "../styles/variables";

.navbar {
  list-style-type: none;
  z-index: 10000;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(44, 44, 44);
  border-bottom: 3px solid $accent-color;
  li {
    float: left;

    a {
      display: block;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      &:hover{
        background-color: $accent-color;
      }
    }
  }
  
}

